#ducks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.duck {
  width: 300px;
  margin: .5em; 
}

.duck img {
  object-fit: cover;
  width:300px;
  height:300px;
}

#filters {
  width: 80% !important;
  margin: auto !important;
}
